/* background elements */
.background {
  viewport-fill: black;
  width: 100%;
  height: 100%;
}

#stats-section {
  height: 80%;
}

gradientRect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  gradient-type: radial;
  gradient-x1: 50%;
  gradient-x2: 50%+75;
  gradient-y1: 50%;
  gradient-y2: 50%+75;
  gradient-color1: #2C699A;
  gradient-color2: black;
  gradient-opacity1: 0.3;
  opacity: 0;
}

text {
  fill: white;
  font-family: System-Regular;
  text-length: 38;
}

image {
  fill: white;
  opacity: 0.8;
  width: 32;
  height: 32;
  x: 50%-16;
  y: 50%-60;
}

/* stats symbol */

.stats {
  arc-width: 20;
  start-angle: 0;
  sweep-angle: 250;
  x: 50%-110;
  y: 50%-110;
  width: 220;
  height: 220;
}

.stats-bg {
  opacity: 0.5;
  sweep-angle: 360;
}

#cals {
  fill: #2275b9;
  display: inline;
}
#cals #stats-img {
  href: "images/cals.png";
}

#steps {
  fill: #832cc5;
  display: none;
}
#steps #stats-img {
  href: "images/steps.png";
}

#zonemins {
  fill: #02c39a;
  display: none;
}
#zonemins #stats-img {
  href: "images/azm.png";
}

.stats-text {
  text-buffer: 10000;
  text-anchor: middle;
  x: 50%;
  y: 50%+10;
  font-size: 34;
  opacity: 0.8;
  text-length: 38;
}

.stats-to-goal-text {
  y: 50%+47;
  font-size: 24;
  opacity: 0.5
}

/* heartrate symbol */
#hr {
  x: 100%-58;
  y: 4;
  height: 54;
  width: 54;
  display: inline;
}

#hr-img {
  href: "images/hr.png";
  fill: white;
  width: 54;
  height: 54;
  x: -27;
  y: -27;
}

#hr-label {
  text-buffer: "--";
  fill: black;
  x: 50%;
  y: 50%+5;
  text-anchor: middle;
  font-size: 20;
  font-family: System-Bold;
  font-weight: bold;
  letter-spacing: -1;
  text-length: 20;
}

/* time and date text */
#time {
  font-size: 70;
  text-anchor: start;
  x: 5;
  y: 100%-10;
}

#date {
  text-anchor: end;
  font-size: 30;
  x: 100%-5;
  y: 100%-10;
}

/* battery indicator */
#battery-indicator {
  x: 0;
  y: 100%-1;
  width: 100%;
  height: 1;
  fill: white;
}
